@use './variable.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // ベーススタイル
  body {
    width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden !important;
    background-color: #fff;
    color: var(--base-font-color, #000);
    word-break: break-all;
    letter-spacing: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
  }
  
  a {
    // color: #333;
    text-decoration: none;
  }

// カラーを変数にする
$color-iconblue: #2c73c6;
// svgでfillで使用したいときは変数にクラスを再設定する必要あり
.color-iconblue {
    fill:$color-iconblue;
    stroke-width: 0;
}
$color-iconorange: #ff9d06;
// svgでfillで使用したいときは変数にクラスを再設定する必要あり
.color-iconorange {
    fill:$color-iconorange;
    stroke-width: 0;
}
.stroke-zero {
    stroke-width: 0;
}

/////////////////
/// header
/// 
.l-header {
    width:100%;
    font-weight: 500;
}
// pc用
.l-header__inner {
    display:flex;
    align-items:center;
}
.l-header__title {
    margin-left: 2.6rem;
    margin-right:2rem;
    flex:1;
    font-size: 1rem;
    line-height: 1;
}
.l-header__navi {
    display:flex;
    line-height: 1;
}
