* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // ベーススタイル
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  a {
    // color: #333;
    text-decoration: none;
  }

$color-primary: #3498db;